<style>

blank{

}
a {
  color: green;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
h1 {
  color: orange;
  font-size: 60pt;
  text-align: center;
  border-bottom: 2px gray solid;
  margin: 0;
  padding: 10px;
}
#body {
  display: grid;
  grid-template-columns: 300px 1fr;
}
#article {
  padding: 30px;
  border-left: 2px gray solid;
}
#list {
  padding-left: 10px;
  font-size: 20pt;
  width: 100%;
  margin: 0;
}
</style>
